{% load static %}
<!DOCTYPE html>
<html style="height: 100%;" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


   <link rel="stylesheet" href="{% static 'main.e285c15d68a5e4f06986.css' %}"/>

    <script >
            var error_audio = "{% static 'error.wav' %}"
    </script>

    <script >
        var conjugate_audio = "{% static 'conjugate.mp3' %}"
    </script>

    <script >
        var aurum_audio = "{% static 'aurum.mp3' %}"
    </script>

    
    
    

    <title>Number Quest</title>
</head>
<body style="width:100%; height: 100%; background-color: black; margin:0;">
   

    <script defer src="{% static 'vendors~main~main2.1f61847dfa35a423c8c7.js' %}"></script>
    <script defer src="{% static 'main.09dbc5ff7f689c2a1475.js' %}" charset="utf-8"></script>

   
    
</body>
</html>